@import '../../styles/_spacings';
@import '../../styles/variables';

.app-landing {
  padding: $spacing-xl;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: $spacing-xl;
  }

  &-variant {
    margin-bottom: $spacing-xl;

    &:last-of-type {
      margin-bottom: 0;
    }

    h2 {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: $spacing-m;
    }

    &-custom {
      header-component::part(nav) {
        background-color: $blue;
      }
    }
  }
}