@import '../../styles/_spacings';
@import '../../styles/_variables';

.card-main {
  box-shadow: $box-shadow;
  padding: $spacing-m;
  background-color: $white;
  min-width: 100%;
  border-radius: $spacing-xs;
  min-height: 250px;
}